In [1]:
import chemdataextractor
import pandas as pd

In [19]:
ci = pd.read_csv('../data/corrosion_inhibitor_list.csv', names=['chemical', 'count'], header=0)
fr = pd.read_csv('../data/flame_retardant_chemical.csv', names=['chemical', 'count'], header=0)
print(ci.head(),'\n')
print(fr.head())

        chemical  count
0      chlorides     36
1       chloride     26
2         amines     16
3     carboxylic     16
4  alkanolamines     14

        chemical  count
0       graphene    318
1  polypropylene    164
2         carbon    153
3     phosphorus     98
4          epoxy     96

In [30]:
shared_chemicals = pd.merge(ci,fr,on='chemical')
shared_chemicals.columns = ['chemical', 'ci', 'fr']
shared_chemicals

    chemical  ci   fr
0   chloride  26    1
1     amines  16    1
2     oxygen   7   31
3       iron   6    1
4   hydrogen   4    8
5   nitrogen   4   18
6     silver   1    3
7    borates   1    1
8    Table 4   1    4
9    halogen   1   63
10    Plenum   1    1
11    carbon   1  153
12       –OH   1    1
13   Outline   1    2
14       Tan   1    1
15       CO2   1    4